<!DOCTYPE html>

<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
     <div class="main-content"></div>
        {{>header}}
        <p>This site was created by Jorge Cervera. It is a simply Rest API</p>
        <img class="portrait" src="/web-server/public/img/foto.png">
    </div>
    {{>footer}}
</body>

</html>